
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
}

button {
    margin: 5px 0;
    padding: 15px;
    font-size: 18px;
}

img {
    width: 100%;
}

@media (min-width: 370px) {
    body {
        flex-direction: row;
        flex-wrap: wrap;
    }

    button {
        flex: 1;
        margin: 5px;
        border-radius: 20px;
    }
}

@media (min-width: 1020px) {

    img {
        width: 50%;
    }

}